
/* Font sizes and colors for page */

body {
    background-color: #1F2937;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.link-text {
    font-size: 24px;
    color: #E5E7EB;
}

.button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 800;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    border: none;


}

.header-information-text {
    font-size: 36px;
    color: #1F2937;
}

.secondary-text {
    font-size: 18px;
    color: hsl(220, 13%, 91%)
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}
.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 600;
    justify-self: flex-end;
}

.section-3-text {
    font-size: 18px;
    color: #464646;
}

.section-3 {
    background-color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.section-4 {
    background-color: #E5E7EB;
    margin: 0;
    padding: 0;
}

.copyright {
    color: #E5E7EB;
}

footer {
    background-color: #1F2937;
    width: 100%;
}

/* Positioning and Layout */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 60px;
    margin-left: 400px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 400px;
}

nav ul a {
    text-decoration: none;
}

nav ul a:hover {
    color: rgb(129, 129, 129);
}

.section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
}

.section-2-left-side {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 400px;
    
}

.section-2-right-side {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 400px;

}

.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-3-heading {
    margin-bottom: 50px;
}

.section-3-squares {
    display: flex;
    gap: 20px;
}

.section-3-square {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 175px;
}


.section-3-square img {
    border-style: solid;
    border-color: rgb(75, 137, 224);
    width: 150px;
    align-self: center;
    border-radius: 15px;
}

.section-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    align-items: center;
}

.section-4-text {
    width: 60%;
}

.section-4-author {
    align-self: flex-end;
    margin-right: 330px;
}

